<head>
  <title>Jillianne's TaskList</title>
</head>

<h1>Jillianne's TaskList</h1>
<nav>
      <% if @tasks.length == 0 %>
      <h3>No Tasks</h3>
      <% else %>
          <% @tasks.each do |task| %>
              <td><%= task.name %></td>
              <% if task.completed_at.nil? %>
              <td> Incomplete </td>
              <% else %>
              <td><%= task.completed_at %></td>
              <% end %>
              <td><%= link_to "Mark Complete", mark_complete_path(task.id) %></td>
              <td><%= link_to "Mark Incomplete", mark_incomplete_path(task.id) %></td>
              <td><%= link_to "Show", task_path(task.id) %>
                  <%= link_to "Delete", verify_path(task.id) %></td>
                  <br>
          <% end %>
      <% end %><br>
    <%= link_to "Add New Task", new_task_path %>
    <br><br>
    <%= image_tag "tasklist.jpg", alt: "Stock image of to-do list with pen and coffee" %>
</nav>